.ql-align-center {
  text-align: center;
  img {
    margin: auto;
  }
}
.ql-size-small {
  font-size: 14px;
}
.ql-size-large {
  font-size: 24px;
}
.ql-size-huge {
  font-size: 32px;
}
ul {
  list-style: disc;
}
ol {
  list-style: auto;
}

